@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Poppins:wght@300;400&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.container {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/1336873/pexels-photo-1336873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem;
}
h1 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 200;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.container .buttons {
  width: 90%;
  margin: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container button {
  margin: 5px;
}
.buttons .btn {
  width: 100px;
  height: 40px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
#readMoreBtn {
  background: rgb(0, 3, 255);
}
#ContactBtn {
  background: #390b0d;
}
#readMoreBtn:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 3, 255, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}
#ContactBtn {
  background: #521215;
}
#ContactBtn:hover {
  background: #521215;
  background: linear-gradient(0deg, #450e10 0%, #450e10 100%);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
